.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: darkgreen;
  height: 50px;
  padding: 20px;
  color: white;
}
.App-Station-header {
  background-color: darkgreen;
  height: 50px;
  padding: 20px;
  color: white;
}
td {
  border-bottom: 1px solid #ddd;
  height: 50px;
  padding: 10px;
  vertical-align: center;
}
th{
  border-bottom: 1px solid #ddd;
  padding: 10px;
}
tr:nth-child(even) {background-color: #f2f2f2;}
.App-title {
  font-size: 1.5em;
}
.cancelled{
    color: #dddddd;
    padding: 5px;
}

.App-intro {
  font-size: large;
}


@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
