.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  height: 50px;
  padding: 20px;
  color: white;
}

.App-Station-header {
  background-color: #4c8e14;
  padding: 20px;
  color: white;
  box-shadow: 0 3px 5px 0 #cccccc;
}

td {
  border-bottom: 1px solid #ddd;
  height: 50px;
  padding: 10px;
  vertical-align: center;
  color: #4f5d5d;
}

th {
  border-bottom: 1px solid #ddd;
  padding: 10px;
  font-size: 12px;
  color: #4f5d5d;
}

.fixed-train-width {
  width: 170px;
}

.fixed-station-width {
  width: 250px;
}

tr:nth-child(even) {
  background-color: #f2f2f2;
}

.App-title {
  font-size: 1.5em;
}

.hilight {
  color:#ff0000;
}

.smaller {
  font-size: 12px;
}

.cancelled {
  color: #dddddd;
  padding: 5px;
}

.App-intro {
  font-size: large;
}

.navbar {
  margin-bottom: 0;
}

.navbar.container .container {
  padding: 0;
  border-bottom: 1px solid #ccc;
}

.navbar .nav.navbar-nav .active {
  border: 1px solid #ccc;
  border-bottom: 1px solid white;
  background-color:#ffffff;
}

.navbar .nav.navbar-nav .focus {
  background-color:#ffffff;

}

.navbar .nav.navbar-nav .active a {
  color:#333;
}

.navbar .nav.navbar-nav li {
  border: 0 solid #ccc;
  margin-bottom: -1px;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 1px;
}

.navbar-nav>li>a {
  padding-top: 5px;
  padding-bottom: 5px;
}

.nav>li>a:focus {
  background-color: #ffffff;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}

.nav>li>a:hover {
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}

.Select.has-value.is-clearable.Select--single > .Select-control .Select-value {
  background-color: #dff0d81f;
}

@media (max-width: 767px) {
  .navbar-nav>li>a {
    padding-left:30px
  }
}