.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: darkgreen;
  height: 50px;
  padding: 20px;
  color: white;
}

.App-Station-header {
  background-color: darkgreen;
  padding: 20px;
  color: white;
  box-shadow: 0px 3px 5px 0px #cccccc;
}

td {
  border-bottom: 1px solid #ddd;
  height: 50px;
  padding: 10px;
  vertical-align: center;
}

th {
  border-bottom: 1px solid #ddd;
  padding: 10px;
}

tr:nth-child(even) {
  background-color: #f2f2f2;
}
.App-title {
  font-size: 1.5em;
}

.hilight {
  color:red;
  font-size: large;
}

.cancelled {
  color: #dddddd;
  padding: 5px;
}

.App-intro {
  font-size: large;
}
.navbar {
  margin-bottom: 0px;
}

.navbar.container .container {
  padding: 0;
  border-bottom: 1px solid #ccc;
}

.navbar .nav.navbar-nav .active {
  border: 1px solid #ccc;
  border-bottom: 1px solid white;
}
.navbar .nav.navbar-nav .active a {
  color:black;
}

.navbar .nav.navbar-nav li {
  border: 0px solid #ccc;
  margin-bottom: -1px;
  border-radius: 2px;
}
.navbar-nav>li>a {
  padding-top: 5px;
  padding-bottom: 5px;
}